kind: ConfigMap
apiVersion: v1
metadata:
  name: tectonic-config
  namespace: tectonic-system
data:
  clusterID: "{{UUID}}"
  clusterName: "sandbox"
  installerPlatform: "vagrant-{{OS}}"
  certificatesStrategy: "installerGeneratedCA"
  consoleBaseAddress: "https://tectonic.sandbox"
  kubeAPIServerURL: "https://172.17.4.101:445"
  tectonicVersion: "1.8.9-tectonic.1"
  dexAPIHost: "tectonic-identity-api.tectonic-system.svc.cluster.local:5557"
